h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 40px;
}
.modalTitle{
  justify-content:flex-start;
  margin-bottom: 0px;
}

.frame {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.timer-wrapper {
  height: 180px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.button{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
  background-color: #004777;
  border-radius: 20;
  padding: 10;
  border-color: white;
}

.buttontext{
  font-size: 25px;
  font-family: "12롯데마트드림Light";
  color : white;
}

.modalText{
  font-size: 20px;
  font-family: "12롯데마트드림Light";
  height: 180px;
}
.timeSet{
  font-size: 40px;
  font-family: "12롯데마트드림Light";
  height: 40px;
  width: 100px;
}